<section id="1" class="breaking-news"></section>
<section id="2" class="breaking-news"></section>
<section id="3" class="breaking-news"></section>
<%= content_for :javascript do %>
    $( fetchNews );
<% end %>
