<section id="top-left"></section>
<section id="top-center-left"></section>
<section id="top-center-right"></section>
<section id="top-right"></section>
<%= content_for :javascript do %>
	$( fetchNews );
<% end %>