html, body { height: 100%; }

body {
  line-height: 1.4;
  font-size: 14px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  background-color: #000;
  background: transparent url(../../assets/extra_clean_paper.png);
  font-size:100%;
}

a, a:visited {
  text-decoration: none;
  color: #888;
}

.breaking-news {
  display: none;
  float: left;
}

.breaking-news ul {
  list-style: none;
}

.breaking-news ul li {
  padding: 20px;
  height: 100%;
}

.main {
  width: 44%;
  opacity: 1;
}

.breaking-news.main ul li {
  padding-bottom: 15%;
}

.breaking-news.main ul li .title-news {
  font-weight: bold;
  font-size: 21px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news.main ul li .subtitle-news {
  float: left;
  margin: 5px;
  font-size: 18px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news ul li .title-news {
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news ul li .subtitle-news {
  float: left;
  margin: 5px;
  font-size: 14px;
  text-shadow: 0 1px 0 #FFF;
}

.title-news:hover, .subtitle-news:hover {
  color: #B22;
}

img.image-news {
  margin-left: 2px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 0 3px 10px #888;
  -moz-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
  max-width: 212px;
  max-height: 124px;
}


/* aplica somente a partir de 320px */
@media screen and (min-width: 320px) {
  body {
    line-height: 1.6;
    font-size:100%;
    -webkit-text-size-adjust:none;
  }

  #content {
    width: 96%;
  }

  .breaking-news {
    width: 99%;
  }
  .breaking-news ul li {
    padding: 0px;
    height: 100%;
  }

}
