body {
	line-height: 1;
	font-size: 14px;
	font-family: "Helvetica Neue",Arial,sans-serif;
	background: url(../../assets/low_contrast_linen.png);
}

a, a:visited {
	text-decoration: none;
	color: #888;
}

a:hover {
	color: #B22;
	text-decoration: underline;
}

#content {
	background: transparent url(../../assets/extra_clean_paper.png);
	margin: 0 auto;
	margin-bottom: 100px;
	padding: 0px;
	padding-top: 20px;
	position: relative;
	width: 80%;
	min-height: 762px;
	min-width: 953px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#top-left, #top-center-left, #top-center-right, #top-right {
	margin-left: 10%;
	float: left;
	width: 19%;
}

#top-left ul, #top-center-left ul, #top-center-right ul, #top-right ul {
	list-style: none;
}

#top-left ul li, #top-center-left ul li, #top-center-right ul li, #top-right ul li {
	padding: 15px;
}

img.image-news {
	margin: 14px;
	float: left;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
	-webkit-box-shadow: 0 3px 10px #888;
	-moz-box-shadow: 0 3px 10px #888;
	box-shadow: 0 3px 10px #888;
}

img.image-news:hover {
	-webkit-box-shadow: 0 3px 10px #B22;
	-moz-box-shadow: 0 3px 10px #B22;
	box-shadow: 0 3px 10px #B22;
}