html, body { height: 100%; }

body {
  line-height: 1.4;
  font-size: 14px;
  font-family: "Helvetica Neue",Arial,sans-serif;
  background-color: #000;
  /*background: url(../../assets/low_contrast_linen.png);*/
  background: transparent url(../../assets/extra_clean_paper.png);
  font-size:100%;
  -webkit-text-size-adjust:none;
}

ul {
  list-style: none;
}

.logo {
  margin: 0 auto;
  height: 100px;
  width: 637px;
  background-color: #FFF;
  background: url(../../assets/logo.png);

  /* border */
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

a, a:visited {
  text-decoration: none;
  color: #888;
}

a:hover {
  color: #B22;
  text-decoration: underline;
}

#content {
  background-color: #FFF;
  background: transparent url(../../assets/extra_clean_paper.png);
  margin: 0 auto;
  margin-bottom: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 80%;
  height: 100%;
  min-height: 100%
  min-width: 953px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.breaking-news {
  display: none;
  float: left;
  /*  width: 27%;*/
  /*  opacity: 0.5;*/
  /* border */
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  -webkit-box-shadow: 0 3px 10px #888;
  -moz-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
}

.breaking-news.visible {
  display: block;
  float: left;
}

.breaking-news ul li {
  display: inline;
  float: left;
  padding: 20px;
  height: 100%;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;

  -webkit-box-shadow: 0 3px 10px #888;
  -moz-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
}

.main {
  width: 44%;
  opacity: 1;
}

.breaking-news.main ul li {
  padding-bottom: 15%;
}

.breaking-news.main ul li .title-news {
  font-weight: bold;
  font-size: 21px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news.main ul li .subtitle-news {
  float: left;
  margin: 5px;
  font-size: 18px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news ul li .title-news {
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 1px 0 #FFF;
}

.breaking-news ul li .subtitle-news {
  float: left;
  margin: 5px;
  font-size: 14px;
  text-shadow: 0 1px 0 #FFF;
}

.title-news:hover, .subtitle-news:hover {
  color: #B22;
}

img.image-news {
  margin-left: 2px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 14px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 0 3px 10px #888;
  -moz-box-shadow: 0 3px 10px #888;
  box-shadow: 0 3px 10px #888;
  max-width: 212px;
  max-height: 124px;
}

img.image-news:hover {
  -webkit-box-shadow: 0 3px 10px #B22;
  -moz-box-shadow: 0 3px 10px #B22;
  box-shadow: 0 3px 10px #B22;
}

table, th, tr, td {
  border: 1px solid black
  -webkit-box-shadow: 0 3px 10px #B22;
  -moz-box-shadow: 0 3px 10px #B22;
  box-shadow: 0 3px 10px #B22;
}
