.area {
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.news li  {
  border: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.065);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.065);
}

@media screen and (min-width: 56em) {
  .area {
    margin: auto;
    margin-top: 4%;
    padding-top: 3%;
    max-width: 80%;
    width: 80%;
    overflow: auto;
    margin-bottom: 1.5%;
    /* border: 1px solid green; */
  }

  .news.left {
    font-size: 14px;
    width: 100%;
  }

  .featured-title {
    line-height: 23px;
    font-size: 21px;
    padding-top: 23px;
    padding-left: 7px;
  }

  .featured-img-border {
    padding: 10px;
    float: left;
    width: 220px;
  }

  .featured-description {
    color: #838B8B;
    font-size: 12px;
  }

}

@media screen and (max-width: 56em) {
  .area {
    margin: auto;
    margin-top: 4%;
    padding-top: 3%;
    max-width: 95%;
    width: 95%;
    overflow: auto;
    margin-bottom: 1.5%;
    /* border: 1px solid green; */
  }

  .news.left {
    font-size: 12px;
    width: 100%;
  }

  .featured-title {
    line-height: 23px;
    font-size: 18px;
    padding-top: 23px;
    padding-left: 7px;
  }

  .featured-img-border {
    padding: 10px;
    float: left;
    width: 190px;
  }

  .featured-description {
    color: #838B8B;
    font-size: 10px;
  }

}

.content-text-img {
  width: 100%;
  float: left;
}

.separator {
  height: 1px;
  margin: 0px 1px;
  overflow: hidden;
  background-color: #E5E5E5;
  border-bottom: 1px solid white;
}

.news {
  margin: 0;
  font-family: arial,helvetica,freesans,sans-serif;
  font-size: 12px;
  color: #555;
  float: left;
  /*  border: 1px solid green;*/
}

.news a {
  color: #555;
}

.news a:hover {
  color: #333;
}

.news.images {
  font-size: 14px;
  width: 26.8%;
}

ul.news {
  overflow: auto;
  list-style: none;
}

ul.news li {
  overflow: auto;
  line-height: 14px;
  padding: 10px;
}

.news-source {
  float: left;
  font-size: 10px;
  padding-right: 2px;
}

.featured:hover, .featured-description:hover, .featured-title:hover {
  color: #333;
}

.news-center-img-border {
  padding-left: 14px;
}

.middle-title {
  font-size: 14px;
  padding-left: 18px;
}

.featured img {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  min-width: 100px;
  max-width: 200px;
  max-height: 300px;
  margin: 1%;
  float: left;
}

ul.news.images img {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  max-width: 200px;
  max-height: 200px;
}

.img-description {
  color: #838B8B;
  font-size: 11px;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;
}
